beautifulsoup4==4.6.0
certifi==2026.7.22
chardet==3.0.3
cookies==2.2.1
idna==3.20
olefile==0.44
Pillow>=7.1.0
pluggy==1.6.0
py==1.11.0
python-resize-image==1.1.19
requests==2.34.2
requests-toolbelt==1.0.0
responses==0.5.1
six==1.10.0
tox==4.63.0
urllib3==2.7.0
colorthief==0.2.1
