coverage==7.16.1
idna==3.20
olefile==0.44
py==1.11.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-runner==6.0.1
requests-mock==1.12.1
requests-toolbelt==1.0.0
six==1.10.0
tox==4.63.0
lorem==0.1.1
virtualenv==21.9.1
requests-mock==1.12.1